* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.red {
    background: red;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
}

.yellow-blue {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.yellow {
    background: yellow;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.blue {
    background: blue;
    width: 120px;
    height: 120px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.green1 {
    background: lime;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.green2 {
    background: lime;
    width: 30px;
    height: 30px;
    margin: 10px;
    align-self: end;
}

.yellow-block1 {
    background: yellow;
    width: 100px;
    height: 100px;
    margin: 10px;
    align-self: start;
}

.yellow-block2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.yellow1 {
    background: yellow;
    width: 100px;
    height: 100px;
    margin: 20px;
    align-self: end;

}

.yellow2 {
    background: yellow;
    width: 100px;
    height: 100px;
    margin: 10px;
    align-self: end;
}




